---
import CTA from '../components/text/CTA.astro'
import PageHeader from '../components/ui/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Wave Land Starter | Contact"
  description="Add a contact form or additional information here"
>
  <PageHeader>
    <h1>Contact</h1>
    <p>Add a contact form or additional information here.</p>
    <CTA text="Go Home" url="/" />
  </PageHeader>
</Layout>
