---
import { SITE_NAVIGATION } from '../../consts'

const currentUrlPath = Astro.url.pathname
---

<footer class="container-lg">
  <div class="mb-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <div>
        <h2 class="mb-4 text-lg">Popular Topics</h2>
        <ul class="flex flex-col gap-2">
          <li>
            <a href="#">Performing</a>
          </li>
          <li>
            <a href="#">Recording</a>
          </li>
          <li>
            <a href="#">Web Development</a>
          </li>
          <li>
            <a href="#">Improvisation Tips</a>
          </li>
        </ul>
      </div>

      <nav aria-label="Site Footer Menu" class="p-0">
        <h2 class="mb-4 text-lg">Navigation</h2>
        <ul class="flex flex-col gap-2">
          {
            SITE_NAVIGATION.map(({ title, href }: { title: string; href: string }) => (
              <li>
                <a
                  href={href === '/' ? '/' : href}
                  aria-current={currentUrlPath.includes(href) ? 'page' : undefined}
                  data-current-page={currentUrlPath.includes(href)}
                >
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <div>
        <h2 class="mb-4 text-lg">Contact</h2>
        <p>
          <a href="mailto:hello@wavelandweb.com">hello@wavelandweb.com</a>
        </p>
      </div>
    </div>
  </div>

  <hr class="mb-8 border-t border-(--color-secondary-text)" />

  <div class="text-center text-sm">
    <p>
      Website by <a href="https://wavelandweb.com" target="_blank" rel="noopener noreferrer"
        >Wave Land</a
      > © {new Date().getFullYear()}
    </p>
    <p>
      Follow us on <a
        href="https://www.instagram.com/wavelandweb/"
        target="_blank"
        rel="noopener noreferrer">Instagram</a
      > and <a
        href="https://www.linkedin.com/company/wave-land/"
        target="_blank"
        rel="noopener noreferrer">LinkedIn</a
      >
    </p>
  </div>
</footer>
