---
import GitHub from '../../assets/github.svg'
import Logo from '../../assets/logo.svg'
import { SITE_NAVIGATION } from '../../consts'

const currentUrlPath = Astro.url.pathname
---

<nav
  aria-label="Site Main Menu"
  class="fixed z-10 left-1/2 right-1/2 -translate-x-1/2 container-lg h-(--nav-height) flex items-center justify-between flex-wrap gap-8 bg-background"
>
  <a href="/" title="Home" aria-label="Home">
    <Logo class="hover:rotate-4 hover:text-accent transition-all size-12" />
  </a>

  <ul class="flex items-center gap-8 flex-wrap">
    {
      SITE_NAVIGATION.map(({ title, href }: { title: string; href: string }) => (
        <li>
          <a
            href={href === '/' ? '/' : href}
            aria-current={currentUrlPath === href ? 'page' : undefined}
            data-current-page={currentUrlPath === href}
          >
            {title}
          </a>
        </li>
      ))
    }
    <li>
      <a
        href="https://github.com/wave-land-web/waveland-starter"
        aria-label="GitHub Repository"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GitHub />
      </a>
    </li>
  </ul>
</nav>
